
<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/fixedHeader.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<script src="{% static 'javascript/jquery.min.js' %}"></script>
<script src="{% static 'javascript/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'javascript/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'javascript/bootstrap.bundle.min.js'%}"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
  <link rel="icon" type="image/x-icon" href="{% static 'images/iocl.png' %}">
<head>
    <meta charset="UTF-8">
<!--    Auto Refresh-->
<!--    <meta http-equiv="refresh" content="10">-->

  <title>IOCL | Salem Terminal</title>
    <style>
        .headtext {
  text-align: center;
  font-size: 1.5vw;
  margin-left: 20%;
  font-weight: bolder;
}
        </style>
</head>
<body >
    <div class='root'>
        <div class="heading">
            <a href="/"><img class="headimg" src="{% static 'images/iocl.gif' %}" alt="logo"></a>
            <div class="headtext">
            <h1>Indian Oil Corporation Limited</h1>
             <h1 >Salem Terminal</h1>
            </div>
          </div>
    <br>
        <button class="log"><a href="/">Home</a></button>
        {% if user.is_authenticated %}
        <button class="log"><a href="/user/logout">logout</a></button>
        <button class="log"><a href="/dryout/">Dryout</a></button>
        {% if user.is_superuser %}
        <button class="log"><a href="/dryout/upload">upload</a></button>
        <button class="log"><a href="/dashboard">dashboard</a></button>
        {%endif%}
        <span class="log" style="font-size:1.3rem;">Hello, {{user.first_name}}</span>
        {% else %}
        <!-- <button class="log"><a href="">login</a></button> -->
        {%endif%}
        <br>
{% block content %}

{% endblock %}
<script src="{% static 'javascript/base.js' %}"></script>
</body>
<footer class="copyright">&copy; iocl salem 2021 -powered by Muniyappan M</footer>
</html>