{% extends 'Operations/base.html' %}
{% block content %}
<div class="arrange">
        <h1 class="title">{{select}}</h1>
        <br>
    <div class=".table-responsive{-sm|-md|-lg|-xl} ">
    <table id="myTable" class="table table-bordered">
        <thead>
            <tr>
                {% for head in header %}
                <th scope="col">{{head}}</th>
                {% endfor%}
            </tr>
        </thead>
        <tbody>
            {% for x in data %}
            <tr>
                {% for y in x %}
                {% if y == "SMS" %}
                <td class="sms">
                <input class="Choice" type="number" min="0" max="10" step="1" placeholder="Choice" name="Choice" value="1" required 
                style="float:left; width: max-content; margin: 0.5rem; margin-left: 2rem;">
                <button class="myBtn" style="float: none; margin: 0.5rem;">{{y}}</button>
                </td>
                {% else %}
                <td>{{y}}</td>
                {% endif %}
                {% endfor%}
            {% endfor%}
            </tr>
        </tbody>
    </table>
</div>
  </div>
</div>
{% endblock %}