{% extends 'base.html' %}
{% block content %}
<div class="arrange">
        <h1>Dry Out</h1>
        <h3>Input files as follows:</h3>

<ol>
    <li>About to go Dry file</li>
    <li>Out of Stock file</li>
    <li>YV209D SAP downloaded file</li>
    <li>YV208 SAP downloaded file</li>
    <li>YV26 Previous day SAP downloaded file</li>
    <li>MCSI RO list SAP downloaded file</li>
</ol>
<br>
<div>
    <form class= "my_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" title="Upload 1st excel" name="dryout" style="border: 1px solid black; padding: 5px;"
               required="required" multiple>
        <select id="dryout" name="select">
                <option value="YV209D-dryout List">YV209D-dryout List</option>
                <option value="Planned">Planned</option>
                <option value="Invoiced">Invoiced</option>
                <option value="Yesterday Supplied">Yesterday Supplied</option>
                <option value="No indent List">No indent List</option>
        </select>
        <input type="submit" value="Run" style="border: 1px solid green; padding:8px; border-radius: 5px; cursor:
        pointer;">
    </form>
</div>
</div>
{% endblock %}