
{% extends 'base.html' %}
{% block content %}
<div class="arrange">
        <h1>Dry Out- YV209D Planned-Invoiced</h1>
        <br>
    <div class=".table-responsive{-sm|-md|-lg|-xl} ">
    <table id="myTable" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">DO NAME</th>
                <th scope="col">RO CODE</th>
                <th scope="col">RO NAME</th>
                <th scope="col">PRODUCT</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Mobile Type</th>
                <th scope="col">STATUS CRITICAL</th>
                <th scope="col">Invoice</th>
            </tr>
            <!-- <tr>
                <th scope="col"><input type="text" id="doname" onkeyup="Filterfun()" placeholder="Search for DO NAME .." title="Type in a name"></th>
                <th scope="col"><input type="text" id="rocode" onkeyup="Filterfun()" placeholder="Search for RO CODE .." title="Type in a name"></th>
                <th scope="col"><input type="text" id="roname" onkeyup="Filterfun()" placeholder="Search for RO NAME .." title="Type in a name"></th>
                <th scope="col"><input type="text" id="product" onkeyup="Filterfun()" placeholder="Search for PRODUCT .." title="Type in a name"></th>
            </tr> -->
        </thead>
        <tbody>
            {% for x in data %}
            <tr>
                <td>{{x.0}}</td>
                <td>{{x.1}}</td>
                <td class="roName">{{x.2}}</td>
                <td>{{x.3}}</td>
                <td class="MobileNumber">{{x.10}}</td>
                <td>{{x.15}}</td>
                <td class="STATUS CRITICAL">{{x.4}}</td>
                <td class="Invoice">{{x.9}}</td>
            {% endfor%}
            <!-- <button type="button" class="btn" value="btn">Btn</button> -->
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}
