{% extends 'base.html' %}
{% block content %}
<div class="arrange">
        <h1>YV208 Planned/Invoiced</h1>
        <br>
    <div class=".table-responsive{-sm|-md|-lg|-xl} ">
    <table id="myTable" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">DO CODE</th>
                <th scope="col">RO CODE</th>
                <th scope="col">RO NAME</th>
                <th scope="col">PRODUCT</th>
                <th scope="col">Qty</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Mobile Type</th>
                <th scope="col">Shipment No</th>
                <th scope="col">TT Number</th>
                <th scope="col">Invoice</th>
            </tr>
        </thead>
        <tbody>
            {% for x in data %}
            <tr>
                <td>{{x.15}}</td>
                <td>{{x.5}}</td>
                <td class="roName">{{x.6}}</td>
                <td>{{x.1}}</td>
                <td>{{x.8}}</td>
                <td class="MobileNumber">{{x.13}}</td>
                <td>{{x.18}}</td>
                <td class="Shipment">{{x.2}}</td>
                <td class="tt">{{x.4}}</td>
                <td>{{x.12}}</td>
            {% endfor%}
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}