{% extends 'base.html' %}
{% block content %}
<div class="arrange">
        <h1>Dry Out- YV209D Pending Indent</h1>
    <div class=".table-responsive{-sm|-md|-lg|-xl} ">
    <table id="myTable" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">DO NAME</th>
                <th scope="col">RO CODE</th>
                <th scope="col">RO NAME</th>
                <th scope="col">PRODUCT</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Mobile Type</th>
                <th scope="col">Sales Document</th>
                <th scope="col">REMARKS</th>
                <th scope="col">SMS</th>
                <th scope="col">DELETE</th>
            </tr>
        </thead>
        <tbody>
            {% for x in data %}
            <tr>
                <td>{{x.0}}</td>
                <td>{{x.1}}</td>
                <td class="roName">{{x.2}}</td>
                <td>{{x.3}}</td>
                <td class="MobileNumber">{{x.11}}</td>
                <td>{{x.16}}</td>
                <td class="SalesOrder">{{x.9}}</td>
                <td class="remarks">{{x.8}}</td>
                <td class="sms"><button>SMS</button></td>
                <td  class="delete"><button>Delete</button></td>
            {% endfor%}
            </tr>
        </tbody>
    </table>
</div>
</div>
{% endblock %}