{% extends 'Index/base.html' %}
{% load static %}
{% block content %}
    <br>
<div>
  <h1>Indian Oil Corporation Ltd, Sankari Terminal</h1>
</div>

<div class="navbar">
  <a href="#">Home</a>
  <a href="/dryout">Dryout</a>
  <a href="/qc">QC</a>
</div>
<img src="{% static 'images/mainagate.jpg' %}" alt="maingate" style="width: 100%;">
    <br>



<div class="row">
  <div class="side">
    <h2>Control Room</h2>
    <h5>Marketing Control Room</h5>
    <img src="{% static 'images/controlroom.jpg' %}" alt="control room" style="width: 100%;">
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <h3>More Text</h3>
        <h2>TLF Gantry</h2>
    <h5>Tank Lorry Filling Shed</h5>
    <img src="{% static 'images/tlf.jpg' %}" alt="tlf" style="width: 100%;">
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <h3>More Text</h3>
  </div>
<!--    <div class="side">-->
<!--    <h2>TLF Gantry</h2>-->
<!--    <h5>Tank Lorry Filling Shed</h5>-->
<!--    <img src="{% static 'images/tlf.jpg' %}" alt="tlf" style="width: 100%;">-->
<!--    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>-->
<!--    <h3>More Text</h3>-->
<!--  </div>-->
  <div class="main">
    <h2>About IOC Sankari Terminal</h2>
    <h5>Photo of admin:</h5>
    <img src="{% static 'images/admin.jpg' %}" alt="admin" style="width: 100%;">
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
   </div>
</div>

{% endblock %}