.root {
  margin: auto;
  margin-top: 50px;
  width: 95%;
}

.heading {
  background-color: #ffffff;
  color: #0000ff;
  width: 100%;
  border: 2px red solid;
  border-radius: 10px;
  overflow: auto;
}

.headimg {
  float: left;
  /* position: relative;
  left: 25rem; */
  width: auto;
  margin: 1rem;
}

.headtext {
  margin-top: 2%;
  font-size: 3rem;
  float: right;
  margin-right: 10%;
}
.log {
  float: right;
  border-radius: 5px;
  margin-left: 5px;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.copyright {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  float: right;
  font-size: 1.8rem;
}
table.dataTable.no-footer {
  border: 1px solid rgb(216, 205, 243);
}
.table-bordered {
  border: 1px solid rgb(247, 253, 249);
}
.table-bordered td,
.table-bordered th {
  border: 1px solid rgb(217, 236, 221);
}
table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 10px;
  border-bottom: 1px solid rgb(247, 217, 217);
}
div.dataTables_wrapper {
  width: 100%;
  /* margin: 0 auto; */
}
