{% extends 'QCModule/base.html' %}
{% block content %}
<h1>QC Dashboard</h1>
<br>
<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="switch1" name="local" onclick="myFunction()">
  <label class="custom-control-label" for="switch1">Local input</label>
</div>
<br>
<div id="sql">
    <form class= "my_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" value="Run" style="border: 1px solid green; padding:8px; border-radius: 5px; cursor:
        pointer;">
    </form>
</div>
<div id="local" class="arrange">
        <br>
        <h3>Input files as follows:</h3>
<ol>
    <li>YVROKAR SAP downloaded file</li>
    <li>YQLAB SAP downloaded file</li>
</ol>
<br>
<div>
    <form class= "my_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" title="Upload 1st excel" name="qcfile" style="border: 1px solid black; padding: 5px;  border-radius: 5px;"
               required="required" multiple>
        <input type="submit" value="Run" style="border: 1px solid green; padding:8px; border-radius: 5px; cursor:
        pointer;">
    </form>
</div>
</div>
<script>

    // we ready for fire action with JQery.
      function myFunction() {
        $( document ).ready(function() {
      if ($("#switch1").is(":checked")){
        console.log("myFunction");
        $("#local").css("display", "block");
        $("#sql").css("display", "none");
      } else if ($("#switch1").not(":checked")) {
        console.log("myFunction not");
        $("#local").css("display", "none");
        $("#sql").css("display", "block");
      }
    });
  }
  myFunction();

  //     // we ready for fire action with JQery.
  //     function exportfun() {
  //       $( document ).ready(function() {
  //     if ($(".exportCheck").is(":checked")){
  //       console.log("exportfun");
  //       $("#loacl_web").css("pointer-events", "none");
  //       $("#dryout").css("pointer-events", "none");
  //     } else if ($(".exportCheck").not(":checked")) {
  //       console.log("exportfun not");
  //       $("#loacl_web").css("pointer-events", "visible");
  //       $("#dryout").css("pointer-events", "visible");
  //     }
  //   });
  // }
  // exportfun();
    </script>
{% endblock %}